@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.button {
  background: #3498db;
  border: none;
  color: #fff;
	padding: 10px;
	margin: 0.3em 0;
  font-size: 14px;
  font-weight: bold;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background 0.5s ease, color 0.3s;
  -moz-transition: background 0.5s ease, color 0.3s;
  -ms-transition: background 0.5s ease, color 0.3s;
  transition: background 0.5s ease, color 0.3s;
}

.button:hover {
  background: #1e6b9e;
  color: #fff;
}