.event-table tr:nth-child(odd) {
  background-color: #fff;
}

.event-table tr:nth-child(even) {
  background-color: #f1f1f1;
}

.event-table tr {
  border-bottom: 1px solid #ddd;
}

.event-table thead th {
  background-color: #bbbbbb;
}

.event-table tbody tr:hover {
  background-color: #dddddd;
}

.event-table th:first-child,
.event-table td:first-child {
  padding-left: 16px;
}

.event-table td,
.event-table th {
  padding: 8px 8px;
  display: table-cell;
  text-align: left;
}

.event-table th {
  font-weight: bold;
}

.event-table {
  font-size: 13px !important;
  border: 1px solid #ccc;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
  width: 90%;
  display: table;
  margin-top: 1em;
}

.event-color {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}