ul {
  list-style-type: none;
  margin: 0.5em 0.2em;
  margin-top: 1.6em;
  padding: 0;
}

li {
  background-color: #FFF;
  list-style-type: none;
  font-size: 14px;
  font-weight: 500;
  padding: 0 0.3em;
  margin: 0.2em 0;
  border-radius: 8px;
  border: 1px solid #055c6b;
}
