@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  position: relative;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 30%;
}
.close {
  display: flex;
  justify-content: flex-end;
}
.close-icon {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close {
  display: flex;
  justify-content: flex-end;
}
.close-icon.close {
  display: flex;
  justify-content: flex-end;
}
:hover,
.close-icon:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-align {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-input {
  margin: 0.5em 0;
  font-size: 1.2em;
}

.form-label {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 82.5%;
}
